.glow-text {
  text-shadow: 0 0 10px #018ADA;
}
.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #000;
  animation: typing 3s steps(30), blink .5s step-end infinite alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: black; }
}
.neon-text {
  color: #fff;
  text-shadow:
    0 0 5px #4ade80,
    0 0 10px #4ade80,
    0 0 20px #4ade80,
    0 0 40px #4ade80;
}