/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme{
    --color-primary: #000;
    --color-primary-text: #fff;
    --color-modal: #00000099;
}