<div
    class="flex flex-col justify-center items-center max-w-full h-96 my-5 p-3 border-2 border-gray-300 rounded-lg shadow-lg transition-transform duration-300 hover:scale-105">
    <div class="h-14 flex justify-center items-center mb-4">
        <h2 class="text-2xl font-extrabold mb-4 text-center">{{ proyecto.nombre }}</h2>
    </div>
    <div class="h-56 max-h-56 flex flex-col justify-center px-3">
        <div class="">
            <p>{{ proyecto.descripcion | truncate:120:'...'}}</p>
        </div>
        <div class="flex flex-col items-center mt-5">
            @if (proyecto.proyectoUrl) {
            <div class="mt-3  cursor-pointer">
                <a [href]="proyecto.proyectoUrl" target="_blank"
                    class="border p-2 rounded-md bg-blue-600 text-primary-text">Ver Proyecto</a>
            </div>
            }
            <div class="mt-5">
                <button class="border p-2 rounded-md bg-gray-600 text-primary-text cursor-pointer"
                    (click)="toggleDetails()">Ver detalles</button>
            </div>
        </div>
    </div>
    <app-proyecto-footer [tecnologias]="proyecto.tecnologias"></app-proyecto-footer>

</div>
@if (showDetails) {
<app-proyecto-detalles (close)="toggleDetails()" [proyecto]="proyecto"></app-proyecto-detalles>
}